[package]
name = "ag-service-types"
version = "0.1.0"
edition.workspace = true
license = "AGPL-3.0-or-later AND MIT"
description = "Central trait and type store for the ag-service crates. There are no implementations here (outside of derive traits), just the types and traits that are used by the ag-service crates."

[dependencies]
serde = { workspace = true, optional = true }
serde_json = { workspace = true, optional = true }
serde_yaml = { workspace = true, optional = true }
schemars = { workspace = true, optional = true }
thiserror.workspace = true
async-trait.workspace = true
uuid.workspace = true
cfg-if.workspace = true
bit-set = { workspace = true, optional = true }
tower = { workspace = true, optional = true }
thread-utils.workspace = true

tree-sitter = { workspace = true, optional = true }

[features]
default = ["all"]
tower = ["dep:tower"]
serde = ["dep:serde", "dep:serde_json", "uuid/serde"]
schema = ["dep:schemars", "serde"]
yaml = ["dep:serde_yaml"]
dashmap = ["thread-utils/dashmap"]
inline = ["thread-utils/inline"]
bit-set = ["dep:bit-set"]

ast = []
fix = []
label = []
language = ["meta-var", "matcher"]
matcher = ["ast", "bit-set"]
maybe = []
meta-var = ["ast"]
ops = ["matcher", "ast", "bit-set"]
replacer = ["ast", "meta-var", "matcher"]
rule = ["maybe", "bit-set", "meta-var", "matcher"]
scan = ["rule", "matcher", "language", "ast"]
strictness = []
transversal = ["ast", "matcher", "tree-sitter"]
tree-sitter = ["dep:tree-sitter", "ast"]

all = [
    "ast",
    "fix",
    "label",
    "language",
    "matcher",
    "maybe",
    "meta-var",
    "ops",
    "replacer",
    "rule",
    "strictness",
    "transversal",
    "tree-sitter",
    "serde",
    "schema",
    "tower",
    "dashmap",
]

[dev-dependencies]
tree-sitter-typescript = "0.23.2"
