# SPDX-FileCopyrightText: 2025 Knitli Inc. <knitli@knit.li>
# SPDX-FileContributor: Adam Poulemanos <adam@knit.li>
#

# SPDX-License-Identifier: MIT OR Apache-2.0
cargo-features = ["codegen-backend"]

[package]
description = "A safe, fast, flexible code analysis and code parsing library and tool. Built with tree-sitter, ast-grep, and difftastic in Rust."
resolver = "3"
edition = "2024"
rust-version = "1.85"
license = "AGPL-3.0-or-later"
name = "thread"
version = "0.0.1"
keywords = [
  "parsing",
  "code-analysis",
  "tree-sitter",
  "static-analysis",
  "repository-tools",
  "context",
]
categories = ["development-tools", "parser-implementations", "text-processing"]
repository = "https://github.com/knitli/thread"
documentation = "https://thread.knitli.dev"
homepage = "https://knitli.com"
readme = "README.md"
authors = [
  "Knitli Inc <knitli@knit.li>",
  "Adam Poulemanos for Knitli <adam@knit.li>",
]

[workspace]
members = [
  "crates/ag-thread/*",
  "crates/cli",
  "crates/core",
  "crates/diff",
  "crates/engine",
  "crates/languages",
  "crates/parse",
  "crates/store",
  "crates/threadlang",
  "crates/utils",
  "crates/wasm",
  "xtask",
]

# Note: difftastic's diffing functionality is vendored internally
[workspace.dependencies]
# Error handling
thiserror = "2.0.12"
anyhow = "1.0.98"

async_trait = "0.1.88"

# CLI
clap = "4.5.41"
ansiterm = "0.12.2" # for colored terminal output
crossterm = "0.29.0" # for cross-platform terminal handling

bit-set = "0.8.0" # for efficient kind matching
regex = { version = "1.11.0", features = ["unicode", "perf", "std"] } # for text matching
uuid = { version = "1.17.0", features = ["v4"] } # for unique identifiers

# respect gitignore
ignore = { version = "0.4.23" }

# for fast hash maps
dashmap = "6.1.0"

# threaded parallelism
rayon = "1.10.0"

# Targeted editing and text manipulation
ropey = "1.6.1"

# Service abstraction
tower-service = "0.3.3"

# They're vecs, but smaller
smallvec = "1.15.1"

# String interning (less memory usage/faster lookup over large datasets)
lasso = { version = "0.7.3" }

# The fastest hasher in town
rapidhash = "1.4.0"

# Serialization/Deserialization
serde = { version = "1.0.219", features = ["derive"] }
serde_json = { version = "1.0.140", features = [
  "preserve_order",
] } # JSON serialization
schemars = { version = "1.0.4" }

# graph data structures and algorithms
petgraph = "0.8.2"

# The tree... we built this thing with
tree-sitter = "0.25.6"

cfg-if = "1.0.1"

# Thread crates
thread-core = { path = "crates/core" }
thread-parse = { path = "crates/parse" }
thread-engine = { path = "crates/engine" }
thread-diff = { path = "crates/diff" }
thread-wasm = { path = "crates/wasm" }
thread-cli = { path = "crates/cli" }
thread-store = { path = "crates/store" }
thread-languages = { path = "crates/languages" }
thread-threadlang = { path = "crates/threadlang" }
thread-services = { path = "crates/services" }

# Ast-Grep-as-a-service (forked)
ag-service-ast = { path = "crates/ag-thread/ag-ast"}
ag-service-check-rule = { path = "crates/ag-thread/ag-check-rule" }
ag-service-core = { path = "crates/ag-thread/ag-core" }
ag-service-fix = { path = "crates/ag-thread/ag-fix" }
ag-service-label = { path = "crates/ag-thread/ag-label" }
ag-service-ops = { path = "crates/ag-thread/ag-ops" }
ag-service-pattern = { path = "crates/ag-thread/ag-pattern" }
ag-service-rule = { path = "crates/ag-thread/ag-rule" }
ag-service-scan = { path = "crates/ag-thread/ag-scan" }
ag-service-transform = { path = "crates/ag-thread/ag-transform" }
ag-service-tree-sitter = { path = "crates/ag-thread/ag-tree-sitter" }
ag-service-types = { path = "crates/ag-thread/ag-types" }
ag-service-utils = { path = "crates/ag-thread/ag-utils" }

[features]
# default = ["derive", "languages", "parser", "query"]

[lib]
name = "thread"
path = "src/lib.rs"

[dependencies]

[build-dependencies]
cc = "*"

[profile.dev]
opt-level = 1
lto = false
debug = true
incremental = true
debug-assertions = true
codegen-units = 256     # More codegen units for faster compilation

[profile.dev-debug]
inherits = "dev"
codegen-backend = "cranelift"

[profile.release]
lto = true        # Link-time optimization
codegen-units = 1
incremental = false
panic = "abort"   # Smaller binary size
opt-level = 3     # Maximum optimization

[profile.release-dev]
inherits = "release"
lto = false
debug = true
debug-assertions = true
overflow-checks = true
incremental = true
codegen-units = 256

[profile.wasm-release]
inherits = "release"
incremental = false
lto = true
strip = true
opt-level = "s"      # optimize for size in WASM

# Optimize proc-macros even in debug builds
[profile.dev.package."*"]
opt-level = 3

[workspace.lints.clippy]
dbg_macro = "deny"
todo = "allow"
pedantic = { level = "warn", priority = -1 }
nursery = { level = "warn", priority = -1 }
cargo = { level = "warn", priority = -1 }

# Same lints as tree-sitter itself.
# Lints we allow because they either:
#
# 1. Contain false positives,
# 2. Are unnecessary, or
# 3. Worsen the code

branches_sharing_code = "allow"
cast_lossless = "allow"
cast_possible_truncation = "allow"
cast_possible_wrap = "allow"
cast_precision_loss = "allow"
cast_sign_loss = "allow"
checked_conversions = "allow"
cognitive_complexity = "warn"
collection_is_never_read = "allow"
fallible_impl_from = "allow"
fn_params_excessive_bools = "allow"
if_not_else = "allow"
inline_always = "allow"
items_after_statements = "allow"
match_wildcard_for_single_variants = "allow"
missing_errors_doc = "allow"
missing_panics_doc = "allow"
module_name_repetitions = "allow"
multiple_crate_versions = "allow"
obfuscated_if_else = "allow"
option_if_let_else = "allow"
or_fun_call = "allow"
range_plus_one = "allow"
redundant_clone = "allow"
redundant_closure_for_method_calls = "allow"
ref_option = "allow"
similar_names = "allow"
string_lit_as_bytes = "allow"
struct_excessive_bools = "allow"
struct_field_names = "allow"
too_many_lines = "allow"
transmute_undefined_repr = "allow"
unnecessary_wraps = "allow"
unused_self = "allow"
used_underscore_items = "allow"

[workspace.package]
version = "0.0.1"
edition = "2024"
rust-version = "1.85"
license = "AGPL-3.0-or-later"
repository = "https://github.com/knitli/thread"
documentation = "https://thread.knitli.dev"
homepage = "https://knitli.com"
authors = [
  "Knitli Inc <knitli@knit.li>",
  "Adam Poulemanos for Knitli <adam@knit.li>",
]
