[tools]
act = "latest"
bun = "latest"
cargo-binstall = "latest"
"cargo:cargo-audit" = "latest"
"cargo:cargo-deny" = "latest"
"cargo:cargo-edit" = "latest"
"cargo:cargo-nextest" = "latest"
"cargo:cargo-watch" = "latest"
"cargo:tree-sitter-cli" = "latest"
"cargo:type-sitter-cli" = "latest"
gh = "latest"
gitsign = "latest"
hk = "latest"
"npm:prettier" = "latest"
"pipx:reuse" = "latest"
pkl = "latest"
ripgrep = "latest"
rust = "1.88"
taplo = "latest"
typos = "latest"
uv = "latest"
