[package]
name = "thread-utils"
version = "0.0.1"
edition.workspace = true
rust-version.workspace = true
license.workspace = true
repository.workspace = true
documentation.workspace = true
homepage.workspace = true
authors.workspace = true

[dependencies]
dashmap = { workspace = true, optional = true }
rapidhash = { workspace = true, optional = true }

[features]
default = ["dashmap"]
dashmap = ["dashmap"]
inline = ["dashmap/inline"]
wasm-single-thread = []

[lints]
workspace = true
