[package]
name = "ag-service-rule"
version = "0.1.0"
edition.workspace = true
license = "AGPL-3.0-or-later AND MIT"
description = "rule crate for AST-grep."

[dependencies]
ag-service-types = { workspace = true, features = ["rule", "fix", "matcher", "language", "meta-var", "bit-set", "ast", "label"] }
ag-service-label = { workspace = true }
ag-service-fix.workspace = true
ag-service-pattern.workspace = true
ag-service-transform = { workspace = true }
ag-service-ast.workspace = true
thread-languages.workspace = true
globset = { version = "0.4.16" }
thread-utils.workspace = true
bit-set.workspace = true
schemars = { workspace = true, optional = true }
serde_json = { workspace = true, optional = true }
serde = { workspace = true, features = ["derive"], optional = true}
thiserror.workspace = true

[features]
default = ["serde"]
yaml = ["serde_yaml"]
serde = ["ag-service-types/serde", "serde_yaml"]
schema = ["ag-service-types/schema", "serde_json", "schemars"]
