[package]
name = "ag-service-utils"
version = "0.1.0"
edition.workspace = true
license = "AGPL-3.0-or-later AND MIT"
description = "Shared utilities for ast-grep."

[dependencies]
serde = { workspace = true, optional = true }
thiserror.workspace = true
anyhow.workspace = true
async-trait.workspace = true
ignore.workspace = true
regex.workspace = true

ansiterm = { workspace = true, optional = true }
termimad = { version = "0.33.0", optional = true }

ag-service-rule.workspace = true
ag-service-tree-sitter.workspace = true
ag-service-pattern.workspace = true
ag-service-types = { workspace = true, features = ["language"] }
thread-threadlang.workspace = true
thread-utils.workspace = true

# only use in print
smallvec = { workspace = true, optional = true }

similar = { version = "2.7.0", optional = true}

[target.'cfg(target_arch = "wasm32")'.dependencies]
similar = { version = "2.7.0", features = ["wasm32_web_time"], optional = true }


[dev-dependencies]
thread-languages = { workspace = true, features = ["typescript", "c"] }

[features]
default = ["serde", "dashmap"]
serde = ["dep:serde", "serde/derive", "similar?/serde"]
dashmap = ["thread-utils/dashmap"]
inline = ["similar?/inline", "thread-utils/inline"]

cli-support = ["dep:ansiterm", "dep:similar", "thread-threadlang/cli-support", "dep:termimad"]
