[package]
name = "ag-service-utils"
version = "0.1.0"
edition = "2021"
license = "MIT"
description = "Shared utilities for ast-grep."

[dependencies]
serde = { version = "1.0.219", features = ["derive"] }
thiserror = "2.0.12"
async-trait = "0.1.88"

ag_service_rule.workspace = true
